*
!.gitignore
!default/
!default/assets/
!default/assets/images/
!default/assets/images/LogoIMC.webp
!default/views/
!default/views/components/
!default/views/components/products/
!default/views/components/products/card.blade.php
!default/views/components/layouts/
!default/views/components/layouts/index.blade.php
!default/views/components/layouts/footer/
!default/views/components/layouts/footer/index.blade.php
!default/views/home/
!default/views/home/index.blade.php
!default/views/cms/
!default/views/cms/page.blade.php
